name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@{{index .V.Actions "actions/checkout"}}
      - uses: actions/setup-go@{{index .V.Actions "actions/setup-go"}}
        with:
          go-version-file: go.mod
      - name: Format
        run: test -z "$(gofmt -l .)"
      - name: Vet
        run: go vet ./...
      - name: Test
        run: go test -race ./...
      - name: Build
        run: go build ./cmd/server
