wrapperVersion={{index .V.Java "maven-wrapper"}}
distributionType=only-script
distributionUrl=https://repo.maven.apache.org/maven2/org/apache/maven/apache-maven/{{index .V.Java "maven"}}/apache-maven-{{index .V.Java "maven"}}-bin.zip
